<footer>
  <div class="status-footer">
    <div class="all-rights">
      <object class="copyright-icon" type="image/svg+xml" data="/images/copyright.svg"></object>

      <a href="https://www.qualityunit.com/">2004-{{ site.time | date: '%Y' }} QualityUnit.com, All rights reserved</a>
    </div>
    <div class="terms-conditions">
      <div><a href="https://www.postaffiliatepro.com/terms-of-service/">Terms & Conditions</a></div>
      <!--div><a href="https://www.liveagent.com/security-privacy-policy/">Security Policy</a></div-->
      <div><a href="https://www.postaffiliatepro.com/privacy-policy/">Privacy Policy</a></div>
      <div>
        <a href="/">Auto refresh </a>
        <label class="switch">
          <input type="checkbox" onclick="toggleAutoRefresh(this);" id="reloadCB">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</footer>
