<div class="header">
	<div class="topright">
		<div class="flex">
			<div class="logo-changelog"></div>
			<div class="site-title-changelog">
				<a href="/">PostAffiliatePro</a>
				<a href="/">Changelog</a>
			</div>
		</div>
		<div id="menu-icon" class="menu-icon"><span></span></div>
		<div id="menu-items" class="menu-items">
			<div class="menu-item">
				<a href="{{ site.product_url }}" title="Product" rel="alternate">Product</a>
			</div>
			<div class="menu-item">
				<a href="https://status.postaffiliatepro.com" title="Service Status" rel="alternate">Service Status</a>
			</div>
			<div class="menu-item">
				<a href="https://support.qualityunit.com/" title="Help" rel="alternate">Help</a>
			</div>
			<div class="menu-item">
				<div class="rss-icon"></div>
				<a href="/feed.xml" title="RSS" rel="alternate">RSS</a>
			</div>
		</div>
	</div>
</div>
