---
layout: default
body_id: post
---
<div class="post-index unstyled-list post-detail post-detail-padding">
	{% assign author = site.authors[page.author] %}
	<div class="post-item">
		<div class="history-icon"></div>
		<article itemscope itemtype="http://schema.org/Article">
			<div class="post-item-title">
				<h1 class="entry-title"
					itemprop="name">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
			</div>
			<div class="entry-meta">
         <span class="entry-date date published clusterTag">
             <time datetime="{{ page.date | date_to_xmlschema }}"
				   itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>
         </span>
				<div class="post-date">
					<img class="gravatar" height="23"
						 src="https://2.gravatar.com/avatar/{{ author.gravatar }}?r=x&amp;s=140"
						 width="23"/>
					<span class="author vcard" itemprop="author" itemscope
						  itemtype="http://schema.org/Person">
                <span itemprop="name" class="fn">{{ author.name }}</span>
            </span>
				</div>
			</div>
			<div itemprop="description" class="issues-list">
				{{ content }}
			</div>
		</article>
	</div>
</div>
